@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(240, 6%, 50%);
}

main {
    display: flex;
    background-color: white;
    box-shadow: rgba(0,0,0,.4) 0px 5px 20px;
    border-radius: 20px;
}

section {
    padding: 80px 100px
}

.bg-imgs {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
}

.box {
    position: relative;
}

.bg-pattern{
    position: absolute;
    bottom: -45px;
    right: 0px;
}

.bg-box {
    position: absolute;
    z-index: 20;
    left: -93px;
    top: 215px;
}

.illustration {
    position: relative;
    z-index: 10;
    margin-left: -85px;
    margin-top: 80px;
    padding-bottom: 30px;
}

h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: hsl(238, 29%, 16%);
}

.question {
    font-size: 14px;
    color: hsl(237, 12%, 33%);
}

li {
    list-style: none;
    text-align: left;
    position: relative;
    list-style: none;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    width: 320px;
    padding: 15px 0px;
    padding-right: 5px;
}

li img {
    position: absolute;
    right: 0;
    top: 20px
}

li p {
    display: none;
    margin-top: 10px;
    line-height: 17px;
}

.bg-pattern-cel {
    display: none;
}

.illustration-cel {
    display: none;
}

@media screen and (max-width: 1100px) {
    .bg-pattern {
        display: none;
    }

    .bg-pattern-cel {
        display: block;
        position:absolute;
        left: 62.5px;
        top: 0px;
    }

    .illustration {
        display: none;
    }

    .illustration-cel {
        display: block;
        position: absolute;
        left: 35px;
        top: -110px;
    }

    .bg-box {
        display: none;
    }

    section {
        text-align: center;
        padding: 50px 20px;
    }

    .bg-imgs{
        padding: 0;
    }

    h1 {
        margin-top: 85px;
    }

    main {
        margin-top: 100px;
    }
}

